<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <!-- <font color=green>
      <h1>Welcome!</h1>
   </font> -->
   <div>
      <img
         src="https://images.pexels.com/photos/620337/pexels-photo-620337.jpeg?cs=srgb&dl=pexels-tobi-620337.jpg&fm=jpg"
         alt="mountains" style="width: 100%; height: 600px;">
      <p style="color: black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, quis vel? Deleniti beatae doloremque similique ipsum ratione tempore nesciunt repudiandae reiciendis hic maxime, sunt debitis, accusamus iusto atque? Sequi nobis quasi modi eum? Consequatur labore sunt mollitia illo nihil eligendi veritatis at error expedita. Obcaecati esse labore delectus possimus fuga rem corporis harum animi. Esse, accusamus! Numquam repellat, velit veniam, excepturi quam harum natus molestiae voluptates culpa beatae at. Ipsa saepe quidem necessitatibus veniam, quo facere id ducimus ut totam provident expedita, est, molestias incidunt numquam nobis dignissimos tempora qui accusantium eius eum eos adipisci sed animi? Explicabo odit at quo, commodi similique eos consequatur, quidem autem, quasi non alias doloremque consequuntur voluptatem molestias? Sint, soluta natus amet laudantium iure tempore laborum, placeat minima laboriosam aut rerum pariatur! Voluptas consequuntur, quisquam officia suscipit dignissimos provident ut qui minus, rem porro, sapiente iusto a possimus commodi repudiandae maiores deleniti pariatur animi velit saepe rerum hic! Enim eligendi quasi veniam laudantium quod ea ad cum incidunt animi assumenda sint maxime tempora impedit saepe facilis optio commodi porro laboriosam quas, beatae doloribus dolore? Dolore consequatur corrupti totam illo repellendus earum architecto ullam? Voluptate dolor rem adipisci aut quae sequi alias, quis illo iste voluptatem nesciunt id ducimus assumenda culpa eum ex neque tempore voluptatum similique autem atque. Voluptate ipsum, dolorum cupiditate quod facere voluptas, ea eum beatae esse laudantium odio ducimus sunt ad repellendus quaerat et distinctio, quas magnam hic. Deleniti odit assumenda aperiam qui itaque in fugiat nobis sequi eaque beatae! Eum quae reiciendis cupiditate fuga, alias, modi quia facere corporis quos eveniet porro nulla debitis repellendus, quidem eligendi quisquam iure nisi. Cupiditate cum excepturi facere? Corporis laboriosam alias vel, eius ea, temporibus perferendis perspiciatis soluta officia error quas ut dolore sint minus unde quaerat hic dolor amet, quos consectetur delectus mollitia impedit asperiores voluptatum? Dolores excepturi amet optio nesciunt harum. Enim eos, natus assumenda quam quidem cupiditate aliquid! Dignissimos vitae iure nulla repellat aspernatur esse corporis adipisci, fugit saepe voluptate magni assumenda architecto expedita veniam debitis voluptas nisi veritatis deserunt ratione sint ut a tempora? Alias, facilis eum! Similique, consequuntur quaerat dolore pariatur sapiente aperiam consectetur iste qui molestiae odit rerum nisi voluptatem sint adipisci voluptates? Natus recusandae possimus saepe deserunt labore fugit aut. Incidunt veritatis tempora placeat ipsum omnis velit, quasi corporis autem ea tempore repellendus eligendi perspiciatis voluptatum. Fugiat quas aliquid, assumenda quam, fuga quidem earum dolorum ex totam distinctio repellat omnis impedit animi quibusdam rerum porro incidunt pariatur. Repellat, voluptatem quas. Delectus autem dignissimos repudiandae quia ab quod aperiam laborum. Consequatur doloremque minus ratione accusantium perspiciatis explicabo, veritatis magnam nulla, vero nisi laboriosam atque dolorum impedit doloribus natus quo quibusdam, illum consequuntur! A adipisci, quas expedita delectus aspernatur animi consequuntur molestiae cumque atque numquam vero repellat quibusdam placeat temporibus enim iure possimus. Sit illum officia dolore, excepturi optio reiciendis qui mollitia pariatur esse molestiae in quaerat, nesciunt commodi possimus enim voluptates temporibus nulla. Qui alias hic reprehenderit quasi aliquid error non. Explicabo perspiciatis ducimus unde, exercitationem cum possimus!</p>
   </div>
   <h3>Things to carry:</h3>
   <table style="border-spacing: 20px;">
      <tr>
         <th>Items</th>
         <th>Quantity</th>
      </tr>
      <tr>
         <td>Cap</td>
         <td>2</td>
      </tr>
      <tr>
         <td>Trekking Shoes</td>
         <td>2</td>
      </tr>

   </table>
   
   <!-- <script src="index.js" charset="UTF-8"></script> -->
</body>
</html>